DateTime==5.5
kaleido==1.1.0
matplotlib==3.10.6
neuralprophet==0.8.0
numpy==1.26.4
openpyxl==3.1.5
pandas==2.3.2
plotly==5.13.1
scikit-learn==1.7.2
seaborn==0.13.2
statsmodels==0.14.5
torch==2.8.0
#wxPython==4.2.3